<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* Шапка */
=======
/* место для вашего кода */
<<<<<<< HEAD
main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

>>>>>>> parent of e9f6e55 (buf fixinf)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
=======
  padding: 92px 51px 89px;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  height: 293px;
  padding: 92px 50px;
  color: #000;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  height: 293px;
  padding: 92px 50px;
  color: #000;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.header__links-list {
  display: flex;
  gap: 32px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
}

.header__links-list-item {
>>>>>>> parent of e9f6e55 (buf fixinf)
  list-style: circle;
  padding-bottom: 7px;
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

=======
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

>>>>>>> parent of 0b8e133 (bug fixing)
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 18px;
<<<<<<< HEAD
  text-underline-offset: 4px;
=======
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
>>>>>>> parent of e9f6e55 (buf fixinf)
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
<<<<<<< HEAD
  width: 140px;
}

.header__logo-image {
  width: 100%;
=======
  justify-self: center;
  align-self: center;
  width: 140px;
=======
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
>>>>>>> parent of 0b8e133 (bug fixing)
}

=======
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

>>>>>>> parent of 0b8e133 (bug fixing)
.header__logo {
  width: 148px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
<<<<<<< HEAD
}

.address {
  font-style: inherit;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.header__address {
  justify-self: end;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
  padding-right: 35px;
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

=======
}

.address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

>>>>>>> parent of 0b8e133 (bug fixing)
.cover {
  position: relative;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
<<<<<<< HEAD
<<<<<<< HEAD
=======
  font-style: inherit;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
>>>>>>> parent of e9f6e55 (buf fixinf)
  background-size: cover;
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
<<<<<<< HEAD
  inset: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
=======
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  background-color: rgb(0 0 0 / 0.6);
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  background-color: rgb(0 0 0 / 0.6);
>>>>>>> parent of 0b8e133 (bug fixing)
}

.cover__title {
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
=======
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  z-index: 1;
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  z-index: 1;
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
>>>>>>> parent of 0b8e133 (bug fixing)
  text-transform: uppercase;
}

.aligned-text {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  letter-spacing: 0.3em;
=======
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  margin-top: 20px;
  margin-right: -0.3em; /*убирает последний пробел, чтобы слово корректно выравнивалось*/
>>>>>>> parent of 0b8e133 (bug fixing)
}

.aligned-text_center {
  line-height: 1;
=======
  margin-top: 20px;
  margin-right: -0.3em; /*убирает последний пробел, чтобы слово корректно выравнивалось*/
}

.aligned-text_center {
>>>>>>> parent of 0b8e133 (bug fixing)
  text-align: center;
}

.aligned-text_right {
<<<<<<< HEAD
<<<<<<< HEAD
  line-height: 1;
<<<<<<< HEAD
  padding-top: 10px;
  padding-left: 615px;
=======
  text-align: right;
>>>>>>> parent of e9f6e55 (buf fixinf)
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

/* Убирает ненужный отступ в конце слова, создаваемый свойством letter-spacing всего элемента */

.remove-spacing {
  letter-spacing: normal;
=======
  text-align: right;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  text-align: right;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
<<<<<<< HEAD
<<<<<<< HEAD
=======
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
>>>>>>> parent of e9f6e55 (buf fixinf)
  text-transform: uppercase;
  letter-spacing: 0px;
  word-spacing: 18.5px;
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background: transparent;
  border: 1px solid white;
=======
  border: 1px solid #fff;
>>>>>>> parent of 0b8e133 (bug fixing)
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
<<<<<<< HEAD
  cursor: pointer;
  z-index: 2;
=======
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  text-transform: uppercase;
  background: transparent;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.lots {
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 180px 25px 150px 25px;
}

.lots__heading {
  margin: 0 0 27px 40px;
=======
  padding: 0 50px;
}

.lots__heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  padding: 180px 24px 0;
}

.lots__heading {
=======
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
>>>>>>> parent of 0b8e133 (bug fixing)
  margin-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: bold;
<<<<<<< HEAD
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
=======
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
>>>>>>> parent of e9f6e55 (buf fixinf)
  list-style: none;
}

<<<<<<< HEAD
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
=======
.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
>>>>>>> parent of e9f6e55 (buf fixinf)
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  flex-grow: 1;
  padding: 50px 40px;
  color: #fff;
=======
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  line-height: 1.2;
  background-position: center;
  background-size: cover;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  line-height: 1.2;
  background-position: center;
  background-size: cover;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
=======
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
=======
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
=======
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.card__title {
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  z-index: 2;
=======
  z-index: 1;
  display: inline-block;
  font-weight: bold;
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 22px;
  text-decoration: underline;
=======
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  z-index: 1;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
>>>>>>> parent of 0b8e133 (bug fixing)
  text-transform: uppercase;
}


.card__text {
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  z-index: 2;
=======
  z-index: 1;
  color: #FFF;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  z-index: 1;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  z-index: 1;
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 20px;
}

.lots__look-more-link {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
=======
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  display: block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  display: block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.about {
  display: grid;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  grid-template-columns: 350px 1fr;
  gap: 10px;
  padding: 0 25px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
=======
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
=======
>>>>>>> parent of 0b8e133 (bug fixing)
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 155px 24px 180px;
  color: #000;
<<<<<<< HEAD
>>>>>>> parent of 0b8e133 (bug fixing)
=======
>>>>>>> parent of 0b8e133 (bug fixing)
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0 auto;
=======
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  margin: auto;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  margin: auto;
>>>>>>> parent of 0b8e133 (bug fixing)
  border-radius: 50%;
  background-color: #000000;
}

.about__title {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 105px 0 100px 0;
=======
  padding: 100px 0 104px;
  font-weight: bold;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  margin: 100px 0;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  margin: 100px 0;
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
  gap: 25px;
<<<<<<< HEAD
=======
}

.about__text p {
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  gap: 24px;
>>>>>>> parent of 0b8e133 (bug fixing)
  font-size: 20px;
  line-height: normal;
}

.footer {
<<<<<<< HEAD
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 90px;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
=======
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px;
  color: #000;
  font-size: 18px;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px;
  color: #000;
  font-size: 18px;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 18px;
<<<<<<< HEAD
  text-underline-offset: 4px;
=======
  line-height: normal;
  text-underline-position: under;
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  border-bottom: 1px solid;
  text-decoration: none;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  border-bottom: 1px solid;
  text-decoration: none;
>>>>>>> parent of 0b8e133 (bug fixing)
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
<<<<<<< HEAD
}

.footer__social-link {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
}

.footer__social-icon {
  width: 48px;
=======
>>>>>>> parent of e9f6e55 (buf fixinf)
=======
  text-decoration: none;
>>>>>>> parent of 0b8e133 (bug fixing)
=======
  text-decoration: none;
>>>>>>> parent of 0b8e133 (bug fixing)
}
=======
>>>>>>> parent of f892ca6 (update project ono tebe nado: all)
