/* место для вашего кода 
.link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.link-white {
  text-decoration: none;
  border-bottom: 1px solid white;
}
*/
/* header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0px 50px;
}

.header__menu-list {
  display: flex;
  gap: 24px ;
  align-items: center;
  list-style: circle;
  font-size: 18px;
}

.header__menu-item_no-bullet {
  list-style: none;
}

.header__menu-item_active .header__menu-link,
.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  margin-left: auto;
  width: 240px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
}

/* main */
/* cover */
.cover {
  position: static;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  height: 757px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 30px;
  padding: 155px 20px 0px 50px;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  width: 1000px;
  margin: 106px 50px 50px;
}

.description-text {
  text-transform: uppercase;  
  color: #fff;
  font-size: 22px;
  word-spacing: 19px;
}

.cover-button {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  width: 256px;
  height: 51px;
  text-transform: uppercase;  
}
/* lots */
.lots {
  margin: 180px 24px 120px;
  min-height: 723px;

}

.lots__subtitle {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-item {
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots__card-head {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.lots__card-information {
  font-size: 20px;
  color: #fff;
}

.lots__more-information {
  margin-left: 40px;
  font-size: 20px;
}


/* about */
.about {
  margin: 0px 24px 180px;
}

.about__logo-round {
  margin-left: 47px;
  margin-top: 35px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  display: grid;
  place-items: center;
  position: absolute;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__content {
  padding-left: 359px;
  padding-top: 136px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-for-more-information {
  font-size: 20px;
  
}

/* footer */

.footer {
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  color: #666;
}

.social-footer__logo {
  display: inline-block;
  margin-right: 10px;
}

.footer__logo-image {
  max-width: 100%;
  height: auto;
}

.social-footer__logo {
  width: 48px;
  height: 48px;
}

.social-footer {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-left: auto;
}