/* место для вашего кода */
/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92px 50px 96px 50px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: circle;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__menu-item_no-bullet {
  list-style: none;
}

.header__menu-item_active .header__menu-link,
.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  margin-left: auto;
  width: 240px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
}

/* main */
/* cover */
.cover {
  margin-top: 4px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  height: 757px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 165px 20px 106px 50px;
  letter-spacing: 30px;
  line-height: 115px;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.description {
  display: flex;
  gap: 107px;
  margin: 0 50px 50px;
  align-items: center;
  height: 51px;
  width: 1000px;
}

.description-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.cover-button {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
}
/* lots */
.lots {
  margin: 180px 24px 0;
  min-height: 723px;
}

.lots__subtitle {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-item {
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.lots__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.lots__card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-head {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-underline-offset: 3px;
  line-height: 120%;
}

.lots__card-information {
  font-size: 20px;
  color: #fff;
  line-height: 120%;
}

.lots__more-information {
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 3px;
}


/* about */
.about {
  margin: 120px 24px;
}

.about__logo-round {
  margin-left: 47px;
  margin-top: 35px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  display: grid;
  place-items: center;
  position: absolute;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__content {
  padding-left: 359px;
  padding-top: 136px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-for-more-information {
  font-size: 20px;
  
}

.text-for-more-information-1 {
  padding-right: 5px;
}
/* footer */

.footer {
  height: 180px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0px 50px;
  align-items: flex-start;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
  font-style: normal;
}

.footer__menu {
  text-align: center;
  margin: 0;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.social-footer__logo {
  width: 48px;
  height: 48px;
}

.social-footer {
  display: flex;
  gap: 48px;
  margin-left: auto;
}